psycopg2==2.9.9
psycopg2-binary
numpy==2.0.0
pandas==2.2.2
apache-airflow-providers-google==8.10.0
SQLAlchemy==1.4.44
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.37.8
google-api-python-client
google-auth-oauthlib
